<hr class="mx-auto mt-5 mb-0" >
<div id="footer">
    <div class="footer-main container-fluid">
        <div class="row col-12 mx-0">
            <div class="footer-main-1 col-4">
                <ul>
                    <li>
                        <a href="">Lịch sử mua hàng</a>
                    </li>
                    <li>
                        <a href="">Cộng tác bán hàng cùng ADMIN</a>
                    </li>
                    <li>
                        <a href="">Tìm hiểu về mua trả góp</a>
                    </li>
                    <li>
                        <a href="">Chính sách bảo hành</a>
                    </li>
                    <li>
                        <a href="">Xem thêm</a>
                    </li>
                </ul>
            </div>
            <div class="footer-main-1 col-4">
                <ul>
                    <li>
                        <a href="">Giới thiệu công ty (MWG.vn)</a>
                    </li>
                    <li>
                        <a href="">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="">Gửi góp ý, khiếu nại</a>
                    </li>
                    <li>
                        <a href="">Tìm siêu thị (2.574 shop)</a>
                    </li>
                    <li>
                        <a href="">Xem bản mobile</a>
                    </li>
                </ul>
            </div>
            <div class="footer-main-2 col-4" >
                <p style="margin-top: 10px;">
                    <strong>Tổng đài hỗ trợ</strong>
                    (Miễn phí gọi)
                </p>
                <p>
                    <span>Gọi mua:</span>
                    <a href=""><b>1800.1060</b></a>
                    (7:30 - 22:00)
                </p>
                <p>
                    <span>Kỹ thuật:</span>
                    <a href=""><b>1800.1763</b></a>
                    (7:30 - 22:00)
                </p>
                <p>
                    <span>Khiếu nại:</span>
                    <a href=""><b>1800.1062</b></a>
                    (8:00 - 21:30)
                </p>
                <p>
                    <span>Bảo hành:</span>
                    <a href=""><b>1800.1064</b></a>
                    (8:00 - 21:00)
                </p>
            </div>
        </div>
    </div>
</div>