<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/" id="pic">
      <img src="http://localhost:{{va}}/img/i.jpg" data-src="""https://nodejs-blog-a4ol.onrender.com/img/i.jpg" alt="logo" style="width:40px;">
      F8 Education
    </a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      {{!-- <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li> --}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img
            src="https://yt3.ggpht.com/wgneNTiW753q5G6XMnjyNLAzReR4TVFJryTKTpIqJefrKMyhABPwfnyNWIoT5NNGstFlva1tgw=s48-c-k-c0x00ffffff-no-rj"
            alt="avatar" class="user-avatar">
          Sơn Đặng
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
          <a class="dropdown-item" href="/my-profile/my-courses">Khóa học của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>