* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 695px;
    width: 100%;
}
    @media screen and (max-width: 414px) {
        .wrapper {
            min-width: 412px;
        }
    }
    @media screen and (max-width: 375px) {
        .wrapper {
            min-width: 375px;
        }
    }


@import "./base/reset";
@import "./helper/mixin";
@import "./helper/variable";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/carousel";
@import "./components/button";
@import "./layout/item";
@import "./layout/modal";
@import "./page/phoneList";